<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <appSettings>
        <add key="SMTPServer" value="smtp.gmail.com"/>
        <add key="User" value="Dev"/>
        <add key="UserMail" value="usuario@gmail.com"/>
        <add key="Password" value="password"/>

    </appSettings>
</configuration>